USE_GEMINI=true
FATSECRET_CLIENT_ID=""
FATSECRET_CLIENT_SECRET=""
USDA_API_KEY=""
OPENAI_API_KEY=""
APP_ENVIRONMENT=development
PORT=8080
GEMINI_API_KEY=""

SUPABASE_URL=""
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_JWT_VERIFICATION_MODE=JWKS